@media (min-width:576px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {

    .container {
        max-width: 1320px
    }
}


@media (max-width: 991px) {
    .reports__top {
        padding-right: 12px;
        grid-template-columns: 1fr 1fr 100px 112px;
    }

    .reports__line {
        height: 44px;
    }
}

@media (max-width: 767px) {
    .reports__top {
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }

    .reports__status {
        justify-content: flex-end;
    }

    .reports__top .btn {
        margin-left: auto;
    }
    
}

@media (max-width: 480px) {
    .reports__top {
        grid-template-columns: 1fr; 
    }

    .reports__top > div {
        margin-bottom: 12px;
    }

    .reports__status {
        justify-content: flex-start;
    }

    .reports__top .btn {
        margin-left: 0;
    }

    .reports__line {
        grid-template-columns: 1fr; 
        height: auto;
        padding-top: 12px;
        padding-left: 20px;
    }

    .reports__line > div {
        margin-bottom: 12px;
    }
}

@media (max-width: 375px) {
    .card {
        padding: 20px;
    }
}